node_modules/
.expo/
.expo-shared/
dist/
web-build/
.next/
out/
*.tsbuildinfo
expo-env.d.ts
.DS_Store
*.pem
.env
.env*.local
npm-debug.*
yarn-debug.*
yarn-error.*
.metro-health-check*
/ios
/android
.kotlin/
*.orig.*
.turbo

**/yarn.lock

**/package-lock.json

**/pnpm-lock.yaml